.App-header {
  background-color: #192d46;
  min-height: 5rem;
  color: white;
  padding: 0 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App-menu {
  height: 100%;
}

.App-menu-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
}

.App-menu-nav-link {
  margin-left: 1rem;
  color: #007bff;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.App-menu-nav-link:hover {
  color: #0069d9;
  text-decoration: none;
  cursor: pointer;
}

.App-title-wrapper {
  display: flex;
  align-items: baseline;
}

.App-title {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 0;
  height: 100%;
}

.App-title::before {
  content: '■';
  font-size: 4rem;
  margin-right: 0.5rem;
  margin-top: -1rem;
  color: #007bff;
  vertical-align: middle;
  display: inline-block;
}

.App-title-thiner {
  font-weight: lighter;
  margin-left: 0.4rem;
}

.App-title-version {
  font-weight: lighter;
  color: #007bff;
  font-size: 0.8rem;
  margin-left: 0.6rem;
}

.Dictionary-list {
  color: #212529;
}

.Dictionary-list-title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: lighter;
  margin: 1rem 0;
  color: #48494a;
}

.Dictionary-list-items {
  width: 100%;
  list-style-type: none;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: column;
}

.Dictionary-list-item {
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  border-top: 1px solid rgba(0,0,0,.125);
  background-color: #fff;
  display: block;
  width: 100%;
  font-weight: bold;
  text-align: left;
  color: #48494a;
}

.Dictionary-list-item button {
  background-color: none;
}

.Dictionary-list-item button:hover {
  cursor: pointer;
  color: #007bff;
}

.Dictionary-list-item button[disabled]:hover {
  cursor: default;
  color: #808080;
}

.Dictionary-view {
  margin-top: 3.6rem;
}

.Dictionary-view th:first-child {
  width: 40%;
}

.Dictionary-view th:nth-child(2) {
  width: 40%;
}

.Dictionary-view th:last-child {
  width: 20%;
}

.Dictionary-view-alert {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Dictionary-view-alert-button {
  cursor: pointer;
  font-weight: bold;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: inherit;
}

.active {
  color: #007bff;
}

.active::before {
  content: '■';
  font-size: 1.4rem;
  color: #007bff;
  margin-right: 0.6rem;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.4rem;
}

.btn {
  border-radius: 0;
}

.btn-toolbar .btn {
  margin-right: 0.3rem;
}
